<div class="container">
  <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#addNotesModal"
  >
    Create Note
    <i class="bi bi-plus-circle"></i></button>
  <div class="row">
    <div class="col-md-4" *ngFor="let note of notesData">
      <div class="card">
        <div class="card card-body">
          <h4>{{note.attributes.note_title}}</h4>
          <p class="text-muted">{{note.attributes.note_desc}}
          </p>
          <div class="d-flex align-items-center">
            <span class="mx-2">
              <i class="bi bi-pen text-info" data-bs-toggle="modal"
              data-bs-target="#editNotesModal"></i>
            </span>
            <span class="mx-2">
              <i class="bi bi-trash text-danger" (click)="delNote()"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- add daily notes model -->
<div class="modal fade" id="addNotesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Daily Notes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="noteForm">
          <div class="mb-3">
            <label for="note_title" class="col-form-label">Note Title:</label>
            <input type="text" class="form-control" formControlName="note_title">
          </div>
          <div class="mb-3">
            <label for="note_desc" class="col-form-label">Note Description:</label>
            <textarea class="form-control" formControlName="note_desc"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNote()" [disabled]="noteForm.invalid">Add Notes</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Notes Model -->
<div class="modal fade" id="editNotesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Notes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <div class="mb-3">
            <label for="edit_title" class="col-form-label">Note Title:</label>
            <input type="text" class="form-control" formControlName="edit_title">
          </div>
          <div class="mb-3">
            <label for="edit_desc" class="col-form-label">Note Description:</label>
            <textarea class="form-control" formControlName="edit_desc"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="editForm.invalid">Update Notes</button>
      </div>
    </div>
  </div>
</div>
</div>
